@import "./../mixins";
@import "./../variables";

.default{
    &-text{
        color: var(--contrast-color);
        @include adaptive-font(24,17);
        
    }
    &-title{
        color: var(--contrast-color);
        @include adaptive-font(36,32);
    }
    &-grey-text{
        color: var(--primary-color);
        @include adaptive-font(24,17);
    }
}

