@import "./../variables";

.menu {
    position: sticky;
    top: 0;
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color-dark2);
    padding: 50px 26px;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
            transition: color 0.2s ease,scale 0.2s ease;
            color: var(--primary-color);
            svg {
                width: 20px;
                height: 20px;
                color: var(--primary-color);
                transition: color 0.2s ease;
            }
            &:hover,
            &_active {
              scale: 1.2;
                color: var(--contrast-color);
                svg {
                    color: var(--contrast-color);
                }
            }
        }
    }

    &__title {
        color: var(--contrast-color);
        font-size: 24px;
        width: 78px;
        height: 24px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: var(--primary-color);
        margin-bottom: 20px;
        margin-top: 50px;
        display: block;
    }

    &__nav-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 99px;
        cursor: pointer;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 20px;
        width: 85px;
        &__nav {
            gap: 35px;
        }
        &__title {
            margin-bottom: 30px;
        }
    }
}
