@import "./../mixins";
@import "./../variables";

.signUp {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    &__container {
        width: 100%;
        max-width: 1440px;
        padding: 50px;
        margin: 0 auto;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__left-side {
        width: 380px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__top-block {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: var(--contrast-color);
        font-size: $standart-fz;
    }
    &__return {
        cursor: pointer;
        transition: scale ease 0.4s;
        &:hover {
            scale: 1.2;
        }
        svg{
            width: 20px;
            height: 20px;
            path{
                fill: var(--contrast-color);
            }
        }
    }
    &__form {
        display: flex;
        gap: 20px;
        flex-direction: column;
        &-input {
            width: 100%;
        }
        &-btn {
            padding-top: 18px;
            padding-bottom: 18px;
            width: 100%;
            font-size: $link-fz;
            background-image: linear-gradient(to right, #c78fff 0%, #fff 30%, #c78fff 100%);
            background-size: 300% 300%;
            transition: 0.5s;
            &:hover {
                background-position: right center;
            }
        }

        &-additional {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &-line {
                width: 30%;
                height: 1px;
                background-color: var(--primary-color);
            }
            span {
                margin: 0 10px 0 10px;
                color: var(--primary-color);
                font-size: $small-fz;
                white-space: nowrap;
            }
        }
        &-google {
            width: 100%;
            padding-top: 13px;
            padding-bottom: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 1px solid gray;
            

            transition: background-position 0.5s, scale ease 0.3s;
            background-size: 300% 100%;
            cursor: pointer;
            &:hover {
                scale: 0.9;
                background-position: right center;
            }
            img {
                width: 20px;
            }
        }
    }
    &__right-side {
        width: 100%;
        max-width: 520px;
        height: 600px;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    @media screen and (max-width: 767px) {
        &__container {
            padding: 25px;
        }
        &__left-side {
            padding: 25px;
        }
    }
    @media screen and (max-width: 499px) {
        &__container {
            padding: 0;
        }
        &__right-side {
            display: none;
        }
    }
}
